In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [3]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [5]:
items.head(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
#Select only needed Item
movie_content=items[['movie id','movie title','Action','Adventure','Animation','Children\'s','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']]

movie_content.head()

In [9]:
#read the ratings dataset
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [11]:
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [13]:
merged = ratings.merge(movie_content,left_on="movie_id",right_on="movie id")

In [15]:
merged = merged.drop(columns=["movie_id"])

In [17]:
merged.head()

,user_id,rating,unix_timestamp,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,3,881250949,242,Kolya (1996),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,186,3,891717742,302,L.A. Confidential (1997),0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,22,1,878887116,377,Heavyweights (1994),0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,244,2,880606923,51,Legends of the Fall (1994),0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
4,166,1,886397596,346,Jackie Brown (1997),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
def popularity(genre):
    genre_data = merged[merged[genre] == 1]
    top_movies =list(genre_data.groupby("movie title").size().sort_values(ascending=False).head(5).index)
    return top_movies

In [21]:
top_movies_genre=popularity("Action")
top_movies_genre

['Star Wars (1977)',
 'Return of the Jedi (1983)',
 'Air Force One (1997)',
 'Independence Day (ID4) (1996)',
 'Raiders of the Lost Ark (1981)']

In [25]:
top_movies_overall =list(merged.groupby("movie title").size().sort_values(ascending=False).head(5).index)
top_movies_overall

['Star Wars (1977)',
 'Contact (1997)',
 'Fargo (1996)',
 'Return of the Jedi (1983)',
 'Liar Liar (1997)']